@charset "UTF-8";
/* CSS Document */
body {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 2232px;
	font-family: Sabon LT Std, Garamond, Times New Roman, serif;
	font-size: 18px;
	color: #25263D;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 1;
}
header {
	width: 1920;
	height: 200;
}
.logo {
	
	width: 25%;
	
	opacity: 1;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
ul.navgroup {
	list-style-type: none;
	text-align: center;
	margin-right: 50px;
	
}
li.nav {
	display: inline-block;
	padding: 0 20px 0 20px;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 300;
}
.left {
	float: left;
	width: 690px;
}
.right {
	float: right;
	width: 950px;
}
.heroimg {
	width: 690px;
	height: 495px;
	top: 223px;
	left: 140px;
}
.hero {
	width: 690px;
	height: 495px;
	top: 223px;
	left: 140px;
}
.headerSection {
	display: block;
	top: 223px;
	left: 830px;
	width: 950px;
	height: 495px;
	background: #89A67C 0% 0% no-repeat padding-box;
	opacity: 1;
	text-align: center;
}
h1 {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 600;
	font-size: 56px;
}
h2 {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 300;
	font-size: 48px;
}
h1.name {
	
}